.get_in_touch {
  min-height: 94.6875rem;
}

form {
  margin-bottom: 4rem;
  width: 100%;
  min-height: 18.125rem;

  fieldset {
    width: 90%;
    margin: auto;
  }
}

.message_group {
  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.625rem;
    padding: 0.9375rem 1.125rem;
    font: 1rem Gevena, sans-serif;
    -webkit-appearance: none;
  }

  input {
    height: 3rem;
  }

  textarea {
    height: 9.875rem;
  }
}

.send_btn {
  height: 3.125rem;
  width: 9.0625rem;
  color: #fff;
  background-color: #0cf;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #0cf;
  margin-left: 5%;
  border-radius: 4px;
  -webkit-appearance: none;
}

.addit_info {
  width: 90%;
  text-align: left;
  margin: auto;
  margin-bottom: 4rem;

  h5,
  p {
    font-size: 1rem;
  }

  h5 {
    color: #333;
    font-weight: bold;
    padding-bottom: 1.25rem;
    text-transform: uppercase;
  }

  p {
    color: #666;
    padding-bottom: 2.5rem;
    line-height: 1.375;
  }

  .contacts p {
    padding-bottom: 0;

    i {
      font-size: 1.5rem;
      padding-right: 0.9375rem;
      padding-bottom: 0.625rem;
    }
  }
}

#map {
  width: 100%;
  height: 34.375rem;
  margin-bottom: 0.3125rem;
}

@media screen and (min-width: 600px) {

  .message_group {
    .subject {
      width: 100%;
      display: block;
    }
    input {
      width: 48.9%;
      height: 3rem;
      display: inline-block;

      &:first-child {
        margin-right: 0.625rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .get_in_touch {
    min-height: 82.5rem;
  }

  form {
    margin-bottom: 9.375rem;
    width: 34.375rem;
    min-height: 18.125rem;
    float: left;
    clear: left;
  }

  .message_group {
    input,
    textarea {
      display: block;
    }

    input {
      width: 16.3125rem;
      height: 3rem;
      display: inline-block;

      &:first-child {
        margin-right: 0.625rem;
      }
    }

    .subject {
      width: 33.5rem;
      display: block;
    }
  }

  .addit_info {
    float: left;
    width: 30%;
    text-align: left;
    margin-left: 1.5625rem;
  }

  .send_btn {
    margin-left: 1.5%;
  }

  #map:before {
    content: "";
    display: block;
    clear: both;
  }
}

@media screen and (min-width: 1000px) {

  .get_in_touch {
    min-height: 95rem;

    .about_us_logo,
    .lines,
    .title div,
    .title p {
      padding-top: 11.25rem;
      margin-bottom: 10.3125rem;
    }
  }

  .addit_info {
    width: 21.25rem;
  }
}