/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

@viewport {
    width: device-width;
    zoom: 1;
}

body {
    background: #fff;
    font-family: "Lato", sant-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    margin: 0;
    max-width: 100%;
    font-size: 10px;
}

.part_of_container {
    max-width: 58.75em;
    margin: 0 auto;
}

@media screen and (min-width: 400px)  {
    .container {
        font-size: 12px;
    }
}
@media screen and (min-width: 600px)  {
    .container {
    font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
    font-size: 16px;
    }
}


/*
 ========================================
  Header
 ========================================
*/

header {
    background-color: #fff;
    min-height: 64.5em;
}

@media screen and (min-width: 600px)  {
    header {
        background-image: url("../images/bcgrndman.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.logo {
    padding-top: 1.875em;
    margin-left: 17.5em;
}

.header_words {
    clear: both;
    margin: auto;
    width: 50%;
}

.big_logo {
    margin: auto;
    width: 12em;
    padding-bottom: 3.75em;
}

.header_words h2 {
    text-transform: uppercase;
    padding-bottom: 2.5em;
    font-weight: bold;
}

.header_words h2,
.header_words p {
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin: auto;
    width: 90%;
    font-size: 1.375em;
    text-shadow: 0 0 10px black;
}
	
.scroll {
    margin: auto;
    width: 2.875em;
    padding-top: 7.75em;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav_header {
    font-size: 1em;
    float: right;
    margin-right: 22em;
    margin-top: -1.25em;
    margin-bottom: 10em;
    text-shadow: 0 0 10px black;
}

.nav_header li {
    display: inline-block;
    margin: 0 1.25em;
    vertical-align: top;
}

.nav_header li:last-child {
    margin-right: 0;
}

.nav_header li:first-child {
    margin-left: 0;
}

.nav_header li a {
    text-decoration: none;
    color: #fff;
}

/*
  ========================================
  About us
  ========================================
*/

.about_us {
    min-height: 60.6875em;
}

.about_us_logo span {
    color: #ff9900;
}

.about_us_logo h2 {
    font-size: 1.875em;
    font-weight: bold;
    color: #0cf;
    text-transform: uppercase;
}

.about_us_logo h3 {
    font-size: 1.125em;
    color: #666;
    text-transform: capitalize;
    font-style: italic;
}

.about_us_logo h2,
.about_us_logo h3 {
    text-align: left;
}

.about_us_logo,
.lines,
.title div,
.title p {
    float: left;
    padding-top: 7.5em;
    margin-bottom: 4.6875em;
}

.lines {
    padding-left: 1.875em;
}

.title p,
.our_team .title p{
    font-size: 1em;
    color: #666;
    line-height: 1.25;
    width: 60%;
    display: inline-block;
    padding-left: 1.875em;
    margin-top: 3.125em;
    text-align: left;
}

.about_us_nav {
    clear: both;
    background-color: #eaeaea;
    width: 37.5em;
    -webkit-transform: skew(-19.3deg);
       -moz-transform: skew(-19.3deg);
         -o-transform: skew(-19.3deg);
            transform: skew(-19.3deg);
}

.about_us_nav li {
    line-height: 3.625em;
    text-align: center;
    width: 7.5em;
    font-size: 1.25em;
    text-transform: uppercase;
    display: inline-block;
    height: 3.625em;
    border-left: 1px solid white;
}

.about_us_nav li:hover {
    background-color: #00ccff;	
}

.about_us_nav li a:hover {
    color: #fff;	
}

.about_us_nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    -webkit-transform: skew(10deg);
       -moz-transform: skew(10deg);
         -o-transform: skew(10deg);
            transform: skew(10deg);
}

/*
  ========================================
  Focus
  ========================================
*/

.focus {
    margin-top: 5.625em;
    max-width: 58.75em;
    clear: both;
}

.part_of_focus {
    display: inline-block;
    width: 50%;
    min-height: 11em;
    float: left;
}

.part_of_focus h2 {
    font-size: 1.25em;
    color: #333;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 1em;
}
	
.part_of_focus p {
    font-size: 1em;
    color: #999;
    padding-right: 1.5625em;
}

.part_of_focus h2,
.part_of_focus p {
    line-height: 1.2;
    text-align: left;
}

.icon {
    display: inline-block;
    float: left;
    width: 6.5625em;
    height: 6.5em;
    margin: 2.1875em 1.875em 0 1.25em;
    background-color: #eaeaea;
    text-align: center;
    -webkit-transform: skew(-8.7deg);
       -moz-transform: skew(-8.7deg);
         -o-transform: skew(-8.7deg);
            transform: skew(-8.7deg);
}

.icon i {
    color: #fff;
    font-size: 4.375em;
    line-height: 1.4857em;
    -webkit-transform: skew(8.7deg);
       -moz-transform: skew(8.7deg);
         -o-transform: skew(8.7deg);
            transform: skew(8.7deg);
}

a:hover .icon {
    background-color: #00ccff;
}

.part_of_focus a {
    text-decoration: none;
}

.part_of_focus:nth-child(odd) {
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.part_of_focus:nth-child(even) {
    border-bottom: 1px solid #d1d1d1;
}

.part_of_focus:nth-last-child(2) {
    border-bottom: none;
}

.part_of_focus:last-child {
    border: none;
}

/*
  ========================================
  Our skills
  ========================================
*/

.our_skills {
    background-color: #f7f7f7;
    min-height: 58.1875em;
}
	
.our_skills h4,
.fun_facts h4,
.addit_work h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-top: 5.208em;
    padding-bottom: 2.208em;
}

.our_skills p,
.fun_facts p {
    font-size: 1em;
    color: #666;
    line-height: 1.25;
    margin: auto;
    text-align: center;
    width: 37%;
    min-height: 2.1875em;
    padding-bottom: 6.5625em;
}

.our_skills .part_of_container .col-1-4 h4 {
    font-size: 1.25em;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.our_skills .part_of_container .col-1-4 p {
    font-size: 1em;
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: center;
    width: 12.5625em;
    min-height: 3.3125em;
}

.col-1-4 {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    position: relative;
}

.col-1-4 img {
    display: block;
    width: 9.625em;
    margin: auto;
}

.col-1-4 span {
    font-size: 1.875em;
    color: #333;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    top: 14%;
    right: 37%;
}

/*
  ========================================
  Our team
  ========================================
*/

.our_team {
    background-image: url("../images/bcgrndteam.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    min-height: 67.625em;
    margin-top: -10.3125em;
    padding-top: 8em;
}

.our_team .title span,
.our_team .title p,
.our_team .title  h3 {
    color: #fff;
}

.team {
    clear: both;
}

.photos {
    border-radius: 50%;
    width: 11.1875em;
    height: 11.25em;
}

.photos img{
    width: inherit;
    height: inherit;
    margin: 0;
    position: relative;
    border-radius: inherit;
}

.social_media_links {
    width: 11.1875em;
    height: 11.25em;
    position: absolute;
    background-color: #000;
    opacity: 0.89;
    top: 0;
    left: 0;
    line-height: 11.25em;
    display: none;
    border-radius: inherit;
}
    
.social_media_links a {
    font-size: 1.125em;
    color: #b1afad;
    padding-right: 0.944em;
    text-decoration: none;
}

.social_media_links a:first-child {
    padding-left: 1.556em;
}

.team  .photos:hover .social_media_links{
    display: block;
}

.social_media_links a:hover {
    color: #0cf;
}

.team .col-1-4 h4 {
    font-size: 1.25em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding-top: 1.5em;
    padding-bottom: 0.25em;
}

.team .col-1-4 h6 {
    font-size: 0.75em;
    color: #00ccff;
    line-height: 1.2;
    text-align: left;
    padding-left: 3.167em;
    padding-bottom: 1.667em;
}

.team .col-1-4 p {
    font-size: 0.75em;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    width: 85%;
    min-height: 3.334em;
    margin: 0;
}

/*
  ========================================
  Our services
  ========================================
*/

.our_sevices {
    min-height: 63.125em;
}

.our_sevices .part_of_focus h2 {
    color: #ff9900;
}

.our_sevices .part_of_focus .icon {
    background-color: #00ccff;
}

/*
  ========================================
  Fun Facts
  ========================================
*/

.fun_facts {
    min-height: 48.75em;
    background-color: #f7f7f7;
}

.fun_facts p {
    padding-bottom: 0;
}

.fun_blocks .col-1-4 {
    min-height: 16.5625em;
    border: 1px solid #e2e2e2;
    width: 15em;
    text-align: center;
    background-color: #fff;
    margin-top: 4.6875em;
}

.fun_blocks .col-1-4:first-child,
.fun_blocks .col-1-4:last-child {
    width: 14.375em;
}

.fun_icon {
    font-size: 4.375em;
    color: #333;
    padding-top: 0.5714em;
    padding-bottom: 0.1429em;
}

.fun_blocks .col-1-4 p {
    font-size: 1.375em;
    color: #0cf;
    width: 80%;
    margin-top: 1em;
}

.fun_blocks .col-1-4 p.index {
    font-size: 3.25em;
    color: #333;
    min-height: 1em;
    margin-top: 0;
    margin-bottom: 0.769em;
    font-weight: 300;
}

/*
  ========================================
  Our Work
  ========================================
*/

.our_work {
    min-height: 91.875em;
}

.our_work  .about_us_logo,
.our_work  .lines,
.our_work .title p {
    margin-bottom: 7.1875em;
    padding-top: 11.25em;
}

.case_studies {
    clear: both;
    max-width: 95.75em;
    margin: auto;
}

.one_case_study {
    display: inline-block;
    margin-right: 2.1875em;
    margin-bottom: 2.1875em;
    position: relative;
    width: 484px;
    overflow: hidden;
}

@media screen and (min-width: 1000px)  {
    .one_case_study {
        width: auto;
    }
}

.one_case_study:nth-child(3),
.one_case_study:last-child  {
    margin-right: 0;
}

.case_study_discr {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 16.875em;
    margin-top: 6.6875em;
}	

.case_study_discr h4 {
    font-size: 3em;
    color: #333;
    padding-bottom: 0.625em;
}

.case_study_discr p {
    font-size: 1.5em;
    color: #333;
    width: 15.625em;
    margin: auto;
    padding-bottom: 1.875em;
}

.case_study_discr .button {
    width: 11.1em;
    margin: auto;
    border: 4px solid #333;
    font-size: 1.875em;
    height: 2.0667em;
    line-height: 1.8em;
    display: none;
}

.case_study_discr .button a {
    display: block;
    text-decoration: none;
    color: #333;
}

.case_study_discr:hover .button{
    display: block;
}

/*
  ========================================
  Additional Work
  ========================================
*/

.addit_work {
    min-height: 89.1875em;
    background-color: #f7f7f7;
}

.addit_work h4 {
    padding-top: 5.2083em;
    padding-bottom: 0.8333em;
}

.addit_work p {
    font-size: 1.5em;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.nav_section {
    font-size: 0.875em;
    line-height: 1.2;
    text-align: left;
    width: 29.6429em;
    margin: auto;
    margin-top: 6.7857em;
    margin-bottom: 5.3572em;
}

.nav_section li {
    display: inline-block;
    margin-right: 0.3572em;
    vertical-align: top;
}

.nav_section li:last-child {
    margin-right: 0;
}

.nav_section li a {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0.5714em 0.9286em;
    text-decoration: none;
    color: #666;
}

.nav_section li:hover,
.nav_section li.active {
    background-color: #f1f1f1;
}

.addit_work_block {
    display: inline-block;
    width: 18.6875em;
    height: 17.75em;
    margin-right: 1.25em;
}

.addit_work_block:last-child,
.addit_work_block:nth-child(3) {
    margin-right: 0;
}

.addit_work_block h5 {
    font-size: 1em;
    color: #333;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding-top: 1.5625em;
    padding-bottom: 0.9375em;
}

.addit_work_block p {
    font-size: 0.875em;
    color: #333;
    text-align: center;
}

.images {
    width: 18.6875em;
    height: 10.0625em;
    position: relative;
} 

.search_links {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.80;
    line-height: 10.0625em;
    text-align: center;
    display: none;
}

.addit_work_block:hover  .search_links {
    display: block;
}

.search_links a {
    font-size: 1.125em;
    color: #b1afad;
    padding-right: 0.9444em;
    text-decoration: none;
    margin: auto;
}

.search_links a:hover {
    color: #0cf;
}

.load_button a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.875em;
    width: 10em;
    height: 2.3572em;
    margin: auto;
    text-transform: uppercase;
    line-height: 2.3572em;
    text-align: center;
    background-color: #0cf;
    border-radius: 2px;
    margin-top: 2.8572em;
}

/*
  ========================================
  Twitter
  ========================================
*/

.twitter {
    background-image: url("../images/bcgrndtwitter2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 51.875em;
    margin-top: -10.3125em;
}

.twitter i,
.quote i  {
    display: block;
    font-size: 6.25em;
    color: #0cf;
    text-align: center;
    padding-top: 2.40em;
    padding-bottom: 0.95em;
}

.twitter p,
.quote p {
    font-size: 1.125em;
    color: #fff;
    line-height: 1.2;
    width: 47.2222em;
    margin: auto;
    text-align: center;
}

.nav_circle {
    text-align: center;
    width: 4.0625em;
    height: 1.25em;
    margin: auto;
    margin-top: 6.0625em;
    margin-bottom: 1.875em;
}

.nav_circle a {
    display: inline-block;
    text-decoration: none;
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 0.3125em;
}

.nav_circle a:last-child {
    margin-right: 0;
}

.nav_circle a:hover,
.nav_circle a.active {
    background-color: #999;
}

.twitter span {
    display: block;
    font-size: 1.375em;
    color: #fff;
    text-align: center;
}

.twitter span a {
    text-decoration: none;
    color: #26809c;
}

/*
  ========================================
  Testimony
  ========================================
*/

.our_testimonial {
    min-height: 59.0625em;
}

.logos {
    clear: both;
    margin-bottom: 3.625em;
    padding-top: 2.8125em;
}

.one_logo {
    height: 3.8125em;
    display: inline-block;
    margin-right: 2.5em;
}

.one_logo:first-child {
    margin-left: 1.25em;
}

.one_logo:last-child {
    margin-right: 0;
}

.column {
    width: 18.75em;
    min-height: 12.5em;
    display: inline-block;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-right: 1.25em;
    padding-top: 1.5625em;
    padding-left: 0.625em;	
    padding-bottom: 0.625em;
    position: relative;
}

.column:last-child {
    margin-right: 0;
}

.column p {
    font-size: 1em;
    color: #999;
    font-style: italic;
    line-height: 1.25;
    text-align: left;
    width: 15.1875em;
}

.sign {
    position: absolute;
    height: 4.0625em;
    width: 17.1875em;
    bottom: 0.625em;
    left: 0.625em;
    border-top: 2px solid #cacaca;
    padding-top: 0.9375em;
    padding-bottom: 0.3125em;
}

.sign img {
    float: left;
    margin-right: 0.625em;
    padding-left: 0.125em;
}

.sign div {
    font-size: 0.875em;
    color: #09f;
    text-align: left;
    padding-top: 0.5em;
}

.sign span {
    font-size: 0.75em;
    color: #999;
    text-align: left;
}

.our_testimonial .nav_circle {
    margin-top: 4.375em;
}

/*
  ========================================
  Prices
  ========================================
*/

.prices {
    min-height: 82.1875em;
    background-color: #eaeaea;
}

.prices  .about_us_logo,
.prices  .lines, .prices .title p {
    margin-bottom: 7.8125em;
    padding-top: 12.8125em;
}

.order {
    clear: both;
}

.basic_plan {
    width: 9.9091em;
    margin: auto;
    height: 3.6364em;
    line-height: 3.6364em;
    background-color: #0cf;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 1.375em;
    color: #fff;
    font-weight: bold;
}

.order .col-1-4 {
    margin-right: 1.25em;
    width: 13.75em;
    min-height: 34.375em;
    text-align: center;
    line-height: 2.857;
}

.order .col-1-4:last-child {
    margin-right: 0;
}

sup {
    font-size: 0.6em;
    vertical-align: super;
}

.order .col-1-4 h5 {
    font-size: 3.75em;
    font-weight: bold;
    color: #333;
    text-align: center;
}

sub {
    font-size: 0.4em;
    font-weight: normal;
}

.order .col-1-4 p {
    font-size: 0.875em;
    color: #333;
}

.order .col-1-4 .order_button {
    border: 1px solid #333;
    border-radius: 4px;
    width: 7.75em;
    margin: auto;
    margin-top: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
}

.order .col-1-4 .order_button a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #333;
    font-weight: bold;
}

.order .col-1-4 .free_trial {
    font-size: 0.6875em;
    color: #999;
    line-height: 3.636;
    text-transform: uppercase;
}

/*
  ========================================
  Quote
  ========================================
*/

.quote {
    background-image: url("../images/bcgrndtwitter2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 51.875em;
    margin-top: -13em;
}

.quote .author {
    padding-top: 4.0625em;
}

.quote .nav_circle {
    margin-top: 2.1875em;
}

.quote i {
    padding-bottom: 0.75em;
}

/*
  ========================================
  Get in touch
  ========================================
*/

.get_in_touch {
    min-height: 94.6875em;
}

.get_in_touch .about_us_logo,
.get_in_touch .lines,
.get_in_touch .title div,
.get_in_touch .title p {
    padding-top: 11.25em;
    margin-bottom: 10.3125em;
}

form {
    margin-bottom: 9.375em;
    width: 34.375em;
    min-height: 18.125em;
    float: left;
    clear: left;
}

.message_group input,
.message_group textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin-bottom: 0.625em;
    padding: 0.9375em 1.125em;
}

.message_group input:first-child {
    margin-right: 0.625em;
}

.message_group input {
    width: 19.6em;
    height: 3em;
    display: inline-block;
}

.message_group .subject {
    width: 40em;
    display: block;
}

.message_group textarea {
    width: 40em;
    height: 12em;
}

.send_btn {
    height: 3.125em;
    width: 9.0625em;
    color: #fff;
    background-color: #0cf;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid #0cf;
    border-radius: 4px;
}

.addit_info {
    float: left;
    width: 21.25em;
    text-align: left;
    margin-left: 1.5625em;
}

.addit_info h5, .addit_info p {
    font-size: 1em;
}

.addit_info h5 {
    color: #333;
    font-weight: bold;
    padding-bottom: 1.25em;
    text-transform: uppercase;
}

.addit_info p {
    color: #666;
    padding-bottom: 2.5em;
    line-height: 1.375;
}

.addit_info .contacts p {
    padding-bottom: 0;
}

.addit_info .contacts p i {
    font-size: 1.5em;
    padding-right: 0.625em;
    padding-bottom: 0.41667em;
}

#map {
    width: 100%;
    height: 34.375em;
    margin-bottom: 0.3125em;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer {
    min-height: 11.1875em;
}

.social_media {
    min-height: 7.4375em;
    background-color: #2f2e2e;
    text-align: center;
    line-height: 7.4375em;
}

.social_media a {
    text-decoration: none;
    font-size: 2.1875em;
    color: #fff;
    padding-right: 0.7143em;
}

.social_media a:last-child {
    padding-right: 0;
}

.rights {
    min-height: 3.75em;
    background-color: #0cf;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    line-height: 3.75em;
    text-align: center;
}

.rights a {
    text-decoration: none;
    color: #0f91b1;
}