/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

@viewport {
    width: device-width;
    zoom: 1;
}

html {
    font-size: 12px;
}

body {
    background: #fff;
    font-family: "Lato", sant-serif;
}

@media screen and (min-width: 600px)  {
    html {
    font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    html {
    font-size: 16px;
    }
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    margin: 0;
    max-width: 100%;
}

.part_of_container {
    max-width: 58.75rem;
    margin: 0 auto;
}


/*
 ========================================
  Header
 ========================================
*/

header {
    background-color: #fff;
    min-height: 40rem;
    background: url("../images/bcgrndman.png") 100% 100% no-repeat;
    background-size: cover;
}

.logo {
    display: none;
}

.header_words {
    clear: both;
    text-align: center;
}

.big_logo {
    width: 12rem;
    margin: auto;
    margin-bottom: 10%;
}

.big_logo img {
    width: 12rem;
    height: 11.9375rem;
}

.header_words h2 {
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: bold;
}

.header_words h2,
.header_words p {
    line-height: 1.2;
    color: #fff;
    margin: auto;
    width: 90%;
    font-size: 1.2rem;
    text-shadow: 0 0 10px black;
}

.scroll {
    display: none;
}

@media screen and (min-width: 600px)  {

    header {
        min-height: 50rem;
    }

    .header_words {
        margin: auto;
        width: 80%;
    }

    .big_logo {
        margin-bottom: 3.75rem;
    }

    .header_words h2,
    .header_words p {
    font-size: 1.375rem;
    }

    .header_words h2 {
        padding-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1000px)  {

    header {
        min-height: 64.5rem;
    }

    .header_words {
        width: 50%;
    }

    .logo {
        display: inline-block;
        padding-top: 1.875rem;
        margin-left: 15%;
    }

    .scroll {
        display: block;
        margin: auto;
        margin-top: 7.75rem;
        width: 2.875rem;
    }

    .scroll img {
        width: 2.875rem;
        height: 4.25rem;
    }
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav_header {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 10px black;
    padding-top: 5%;
    margin-bottom: 10%;
}

.nav_header li {
    display: inline-block;
    margin: 0 0.5rem;
}

.nav_header li a {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 1000px)  {
    .nav_header {
        float: right;
        margin-right: 20%;
        margin-bottom: 10rem;
    }

    .nav_header li {
        margin: 0 1.25rem;
    }

    .nav_header li:last-child {
        margin-right: 0;
    }

    .nav_header li:first-child {
        margin-left: 0;
    }
}

/*
  ========================================
  About us
  ========================================
*/

.about_us {
    min-height: 40rem;
}

.about_us_logo span {
    color: #ff9900;
}

.about_us_logo h2 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #0cf;
    text-transform: uppercase;
}

.about_us_logo h3 {
    font-size: 1.125rem;
    color: #666;
    text-transform: capitalize;
    font-style: italic;
}

.about_us_logo h2,
.about_us_logo h3 {
    text-align: center;
}

.lines {
    display: none;
}

.about_us_logo,
.title div,
.title p {
    margin: 10% auto;
    text-align: center;
}

.title p,
.our_team .title p {
    font-size: 1rem;
    color: #666;
    line-height: 1.25;
    width: 90%;
}

.about_us_nav {
    clear: both;
    background-color: #eaeaea;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}

.about_us_nav li {
    line-height: 3rem;
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-style: italic;
    height: 3rem;
    border-bottom: 1px solid white;
}

.about_us_nav li:hover {
    background-color: #00ccff;	
}

.about_us_nav li a:hover {
    color: #fff;	
}

.about_us_nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 600px) {

    .about_us {
        min-height: 50rem;
    }

    .about_us_nav {
        width: 37.5rem;
        -webkit-transform: skew(-19.3deg);
           -moz-transform: skew(-19.3deg);
             -o-transform: skew(-19.3deg);
                transform: skew(-19.3deg);
    }

    .about_us_nav li {
        line-height: 3.625rem;
        width: 9.375rem;
        display: inline-block;
        height: 3.625rem;
        border-left: 1px solid white;
        font-style: normal;
        border-bottom: none;
    }

    .about_us_nav li a {
        -webkit-transform: skew(10deg);
           -moz-transform: skew(10deg);
             -o-transform: skew(10deg);
                transform: skew(10deg);
    }
}

@media screen and (min-width: 1000px) {
    .about_us {
        min-height: 60.6875rem;
    }

    .about_us_logo h2,
    .about_us_logo h3 {
        text-align: left;
    }

    .about_us_logo,
    .lines,
    .title div,
    .title p {
        float: left;
        padding-top: 7.5rem;
        margin: 0 0 4.6875rem 0;
    }

    .lines {
        display: inline-block;
        padding-left: 1.875rem;
    }

    .title p,
    .our_team .title p {
        width: 60%;
        display: inline-block;
        padding-left: 1.875rem;
        margin-top: 3.125rem;
        text-align: left;
    }

    .about_us_nav {
        margin: 0 0 5.625rem 0;
    }
}

/*
  ========================================
  Focus
  ========================================
*/

.focus {
    max-width: 90%;
    margin: auto;
}

.part_of_focus {
    display: inline-block;
    min-height: 11rem;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 1rem;
}

.part_of_focus h2 {
    font-size: 1.25rem;
    color: #333;
    font-weight: bold;
    padding-top: 2.1875rem;
    padding-bottom: 1rem;
}

.part_of_focus p {
    font-size: 1rem;
    color: #999;
    padding-right: 4%;
    padding-left: 4%;
}

.part_of_focus h2,
.part_of_focus p {
    line-height: 1.2;
    text-align: left;
}

.icon {
    display: inline-block;
    float: left;
    width: 6.5625rem;
    height: 6.5rem;
    margin: 2.1875rem 1.875rem 1rem 1.25rem;
    background-color: #eaeaea;
    text-align: center;
    -webkit-transform: skew(-8.7deg);
       -moz-transform: skew(-8.7deg);
         -o-transform: skew(-8.7deg);
            transform: skew(-8.7deg);
}

.icon i {
    color: #fff;
    font-size: 4.375rem;
    line-height: 6.5rem;
    -webkit-transform: skew(8.7deg);
       -moz-transform: skew(8.7deg);
         -o-transform: skew(8.7deg);
            transform: skew(8.7deg);
}

a:hover .icon {
    background-color: #00ccff;
}

.part_of_focus a {
    text-decoration: none;
}

.part_of_focus:last-child {
    border: none;
}

@media screen and (min-width: 600px){
    .focus {
        max-width: 95%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .part_of_focus {
        width: 50%;
    }

    .part_of_focus:nth-child(odd) {
        border-right: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
    }

    .part_of_focus:nth-child(even) {
        border-bottom: 1px solid #d1d1d1;
    }

    .part_of_focus:nth-last-child(2) {
        border-bottom: none;
    }

    .part_of_focus:last-child {
        border: none;
    }
}

@media screen and (min-width: 1000px) {
    .focus {
        margin: 0;
    }
}

/*
  ========================================
  Our skills
  ========================================
*/

.our_skills {
    background-color: #f7f7f7;
    min-height: 65rem;
}
	
.our_skills h4,
.fun_facts h4,
.addit_work h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3.3125rem;
}

.our_skills p,
.fun_facts > p {
    font-size: 1rem;
    color: #666;
    line-height: 1.25;
    margin: auto;
    text-align: center;
    width: 90%;
    padding-bottom: 4rem;
}

.our_skills .col-1-4 h4,
.team .col-1-4 h4 {
    font-size: 1.25rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
}

.our_skills .col-1-4 p,
.team .col-1-4 p {
    font-size: 1rem;
    color: #999;
    line-height: 1.2;
    text-align: center;
    width: 90%;
    min-height: 3.3125rem;
}

.col-1-4 {
    display: inline-block;
    width: 49%;
}

.percent_row {
    position: relative;
    width: 9.625rem;
    height: 9.625rem;
    margin: auto;
}

.percent_row img {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}

.percent_row span {
    position: absolute;
    font-size: 1.875rem;
    color: #333;
    font-weight: bold;
    top: 37%;
    left: 35%;
}

@media screen and (min-width: 600px){

    .our_skills h4,
    .fun_facts h4,
    .addit_work h4 {
        padding-top: 7.8125rem;
        padding-bottom: 3.3125rem;
    }

    .our_skills p,
    .fun_facts > p {
        width: 60%;
        min-height: 2.1875rem;
        padding-bottom: 6.5625rem;
    }

    .col-1-4 {
        width: 24%;
    }
}

@media screen and (min-width: 1000px){
    .our_skills {
        min-height: 58.1875rem;
    }

    .our_skills p,
    .fun_facts > p {
        width: 45%;
    }
}

/*
  ========================================
  Our team
  ========================================
*/

.our_team {
    background-color: #333;
    padding-top: 4rem;
    min-height: 115rem;
}

.our_team .title span,
.our_team .title p,
.our_team .title  h3,
.team .col-1-4 h4,
.team .col-1-4 p {
    color: #fff;
}

.team {
    width: 90%;
    margin: auto;
}

.team .col-1-4 {
    width: 100%;
}

.team .col-1-4 h4,
.team .col-1-4 h6,
.team .col-1-4 p {
    text-align: center;
}

.team .col-1-4 h4 {
    padding-top: 1.875rem;
    padding-bottom: 0.3125rem;
}

.team .col-1-4 h6 {
    font-size: 0.75rem;
    color: #00ccff;
    padding-left: 2.375rem;
    padding-bottom: 1.25rem;
}

.team .col-1-4 p {
    min-height: 2.5rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: auto;
}

.photos {
    border-radius: 50%;
    width: 11.1875rem;
    height: 11.25rem;
    margin: auto;
    position: relative;
}

.photos img,
.social_media_links {
    position: absolute;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}

.social_media_links {
    background-color: #000;
    opacity: 0.89;
    line-height: 11.25rem;
    display: none;
}
    
.social_media_links a {
    font-size: 1.125rem;
    color: #b1afad;
    padding-right: 1.0625rem;
    text-decoration: none;
}

.social_media_links a:first-child {
    padding-left: 1.75rem;
}

.team  .photos:hover .social_media_links {
    display: block;
}

.social_media_links a:hover {
    color: #0cf;
}

@media screen and (min-width: 600px){
    .our_team {
        background: url("../images/bcgrndteam.png") 100% 100% no-repeat;
        background-size: cover;
        min-height: 90rem;
        margin-top: -10.5rem;
        padding-top: 7rem;
    }

    .team .col-1-4 {
        width: 49%;
    }

}

@media screen and (min-width: 1000px){

    .our_team {
        min-height: 70rem;
    }

    .team {
        clear: both;
        width: 100%;
    }

    .team .col-1-4 h4,
    .team .col-1-4 h6,
    .team .col-1-4 p {
        text-align: left;
        width: 100%;
    }

    .team .col-1-4 {
        width: 24.5%;
    }

    .photos {
        margin: 0;
    }
}

/*
  ========================================
  Our services
  ========================================
*/

.our_sevices .title:after {
    content: "";
    display: block;
    clear: both;
}

.our_sevices {
    min-height: 65rem;
}

.our_sevices .part_of_focus h2 {
    color: #ff9900;
}

.our_sevices .part_of_focus .icon {
    background-color: #00ccff;
}

@media screen and (min-width: 600px) {
    .our_sevices {
        min-height: 55rem;
    }
}

@media screen and (min-width: 1000px) {
    .our_sevices {
        min-height: 63.125rem;
    }
}

/*
  ========================================
  Fun Facts
  ========================================
*/

.fun_facts {
    min-height: 52rem;
    background-color: #f7f7f7;
}

.fun_facts > p {
    padding-bottom: 0;
}

.fun_blocks {
    width: 90%;
    margin: auto;
    margin-top: 4.6875rem;
}

.fun_blocks .col-1-4 {
    width: 100%;
    border: 1px solid #e2e2e2;
    text-align: center;
    background-color: #fff;
}

.fun_icon {
    font-size: 4.375rem;
    color: #333;
    float: left;
    padding-top: 2%;
    padding-left: 5%;
}

.fun_blocks .col-1-4 p {
    font-size: 1.375rem;
    color: #0cf;
    width: 80%;
    margin-top: 1rem;
}

.fun_blocks .col-1-4 .index {
    font-size: 3.25rem;
    color: #333;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
    .fun_blocks .col-1-4 {
        height: 84px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: center;
    }

    .fun_icon,
    .fun_blocks .index,
    .fun_blocks  .col-1-4 p {
        margin: 0;
        padding: 0;
        text-align: left;
        line-height: 84px;
    }

    .fun_icon {
        float: none;
        padding-left: 5%;
    }

    .fun_blocks .col-1-4 p {
        width: 30%;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .fun_facts {
        min-height: 48.75rem;
    }

    .fun_blocks {
        width: 58.75rem;
    }

    .fun_blocks .col-1-4 {
        display: inline-block;
        min-height: 16.5625rem;
        width: 15rem;
    }

    .fun_blocks .col-1-4:first-child,
    .fun_blocks .col-1-4:last-child {
        width: 14.375rem;
    }

    .fun_icon,
    .fun_blocks .index,
    .fun_blocks .col-1-4  p {
        display: block;
        text-align: center;
        line-height: 1.2;
    }

    .fun_blocks  .col-1-4 p {
        width: 80%;
        margin: auto;
    }

    .fun_icon {
        padding: 2.5rem 0 0.625rem 0;
    }

    .fun_blocks .col-1-4 .index {
        margin-bottom: 2.5rem;
    }
}

/*
  ========================================
  Our Work
  ========================================
*/

.our_work {
    min-height: 91.875rem;
}

.case_studies {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
}

.one_case_study {
    position: relative;
    margin-bottom: 2rem;
}

.one_case_study img {
    max-width: 100%;
    height: 30.25rem;
    object-fit: cover;
}

@media screen and (min-width: 363px)  {
    .one_case_study.large_img img {
        max-width: 30.25rem;
    }
}

.case_study_discr {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin-top: 6.6875rem;
}	

.case_study_discr h4 {
    font-size: 3rem;
    color: #333;
    padding-bottom: 1.875rem;
}

.case_study_discr p {
    font-size: 1.5rem;
    color: #333;
    width: 22rem;
    margin: auto;
    padding-bottom: 2.8125rem;
}

.case_study_discr .button {
    width: 20.8125rem;
    margin: auto;
    border: 4px solid #333;
    font-size: 1.875rem;
    height: 3.875rem;
    line-height: 3.375rem;
    display: none;
}

.case_study_discr .button a {
    display: block;
    text-decoration: none;
    color: #333;
}

.case_study_discr:hover .button{
    display: block;
}

@media screen and (min-width: 600px)  {

    .our_work {
        min-height: 60rem;
    }

    .case_studies {
        max-width: 600px;
    }

    .one_case_study img {
        width: 298px;
        height: 298px;
        object-fit: cover;
    }

    .one_case_study {order: 0;}

    .one_case_study.large_img {
        order: 99;
        min-width: 598px;
    }

    .one_case_study.large_img img {
        width: 598px;
        max-width: 630px;
    }

    .case_study_discr {
        margin-top: 3rem;
    }

    .case_study_discr h4 {
    font-size: 2rem;
    }

    .case_study_discr p {
        font-size: 1.2rem;
        width: 21rem;
    }

    .case_study_discr .button {
        width: 15rem;
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 930px)  {
    .case_studies {
        max-width: 100%;
    }
}

@media screen and (min-width: 1000px)  {
    .our_work  .about_us_logo,
    .our_work  .lines,
    .our_work .title p {
        margin-bottom: 7.1875rem;
        padding-top: 11.25rem;
    }

    .case_studies {
        clear: both;
        max-width: 62.9375rem;
    }

    .one_case_study img {
        width: 484px;
        height: 484px;
    }

     .one_case_study.large_img {
         min-width: 990px;
     }

     .one_case_study.large_img img {
        width: 990px;
        max-width: 1007px;
    }

    .case_study_discr {
        margin-top: 6.6875rem;
    }

    .case_study_discr h4 {
    font-size: 3rem;
    }

    .case_study_discr p {
        font-size: 1.5rem;
        width: 20rem;
    }

    .case_study_discr .button {
        width: 20.8125rem;
        font-size: 1.875rem;
    }
}

@media screen and (min-width: 1495px)  {

    .case_studies {
        max-width: 95.875rem;
    }

    .one_case_study.large_img {
        order: 0;
    }
}

/*
  ========================================
  Additional Work
  ========================================
*/

.addit_work {
    min-height: 165rem;
    background-color: #f7f7f7;
}

.addit_work h4 {
    padding-top: 7.8125rem;
    padding-bottom: 1.25rem;
}

.addit_work p {
    font-size: 1.2rem;
    color: #333;
    width: 80%;
    margin: auto;
    line-height: 1.2;
    text-align: center;
}

.nav_section {
    font-size: 1rem;
    width: 25rem;
    margin: 3rem auto 4rem auto;
}

.nav_section li {
    background-color: #fff;
    width: 299px;
    margin: auto;
}

.nav_section li a {
    display: block;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 0.5rem 0.8125rem;
    text-decoration: none;
    color: #666;
}

.nav_section li:last-child a {
    border-bottom: 1px solid #ccc;
}

.nav_section li:hover,
.nav_section li.active {
    background-color: #f1f1f1;
}

.addit_work_block {
    width: 299px;
    height: 20rem;
    margin: auto;
}

.addit_work_block h5 {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5625rem;
    padding-bottom: 0.9375rem;
}

.addit_work_block p {
    font-size: 0.875rem;
    color: #333;
    text-align: center;
}

.images {
    width: 299px;
    height: 161px;
    position: relative;
} 

.search_links {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.80;
    line-height: 161px;
    text-align: center;
    display: none;
}

.addit_work_block:hover  .search_links {
    display: block;
}

.search_links a {
    font-size: 1.125rem;
    color: #b1afad;
    padding-right: 1.0625rem;
    text-decoration: none;
    margin: auto;
}

.search_links a:hover {
    color: #0cf;
}

.load_button a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.875rem;
    width: 8.75rem;
    height: 2.0625rem;
    margin: auto;
    text-transform: uppercase;
    line-height: 2.0625rem;
    text-align: center;
    background-color: #0cf;
    border-radius: 2px;
    margin-top: 2.5rem;
}

@media screen and (min-width: 600px) {

    .addit_work {
        min-height: 105rem;
    }

    .nav_section {
        font-size: 0.875rem;
        width: 25.9375rem;
        margin: 5.9375rem auto 4.6875rem auto;
    }

    .nav_section li {
        width: auto;
        display: inline-block;
        background-color: #f7f7f7;
        margin: 0 0.3125rem 0 0;
    }

    .nav_section li:last-child {
        margin-right: 0;
    }

    .nav_section li a {
        display: block;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 0.5rem 0.8125rem;
        text-decoration: none;
        color: #666;
    }

    .addit_work .part_of_container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: auto;
    }
}

@media screen and (min-width: 800px)  {

    .addit_work {
    min-height: 85rem;
    }

    .addit_work_block {
        width: 265px;
    }

    .addit_work_block img,
    .images {
        width: 260px;
        height: 161px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1000px)  {
    .addit_work {
        min-height: 85rem;
    }

     .addit_work_block {
        width: 299px;
    }

    .addit_work_block img,
    .images {
        width: 299px;
    }
}

/*
  ========================================
  Twitter
  ========================================
*/

.twitter,
.quote{
    background-color: #333;
    min-height: 40rem;
}

.twitter i,
.quote i  {
    display: block;
    font-size: 6.25rem;
    color: #0cf;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.twitter p,
.quote p {
    font-size: 1.125rem;
    color: #fff;
    line-height: 1.2;
    width: 70%;
    margin: auto;
    text-align: center;
}

.nav_circle {
    text-align: center;
    width: 15%;
    height: 1.25rem;
    margin: auto;
    margin-top: 6.0625rem;
    margin-bottom: 1.875rem;
}

.nav_circle a {
    display: inline-block;
    text-decoration: none;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 0.3125rem;
}

.nav_circle a:last-child {
    margin-right: 0;
}

.nav_circle a:hover,
.nav_circle a.active {
    background-color: #999;
}

.twitter span {
    display: block;
    font-size: 1.375rem;
    color: #fff;
    text-align: center;
}

.twitter span a {
    text-decoration: none;
    color: #26809c;
}

@media screen and (min-width: 600px)  {
    .twitter,
    .quote {
        background: url("../images/bcgrndtwitter2.png") 100% 100% no-repeat;
        background-size: cover;
        min-height: 54rem;
        margin-top: -11rem;
    }

    .twitter i,
    .quote i  {
        padding-top: 12rem;
        padding-bottom: 5.9375rem;
    }
}

/*
  ========================================
  Testimony
  ========================================
*/

.our_testimonial {
    min-height: 59.0625rem;
}

.logos {
    display: none;
}

.column {
    width: 90%;
    min-height: 12.5rem;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 1.5625rem;
    padding-left: 0.625rem;
    padding-bottom: 0.625rem;
    position: relative;
}

.column p {
    font-size: 1rem;
    color: #999;
    font-style: italic;
    line-height: 1.25;
    text-align: left;
    width: 90%;
}

.sign {
    position: absolute;
    height: 4.0625rem;
    width: 17.1875rem;
    bottom: 1.5rem;
    left: 0.625rem;
    border-top: 2px solid #cacaca;
    padding-top: 0.9375rem;
    padding-bottom: 0.3125rem;
}

.sign img {
    float: left;
    margin-right: 0.625rem;
    padding-left: 0.125rem;
}

.sign div {
    font-size: 0.875rem;
    color: #09f;
    text-align: left;
    padding-top: 0.4375rem;
}

.sign span {
    font-size: 0.75rem;
    color: #999;
    text-align: left;
}

.our_testimonial .nav_circle {
    margin-top: 4.375rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 600px) {

    .our_testimonial {
        min-height: 40rem;
    }

    .columns {
        width: 90%;
        margin: auto;
        margin-top: 3rem;
    }

    .column {
        width: 30%;
        min-height: 15rem;
        display: inline-block;
        margin-right: 5%;
    }

    .column:last-child {
        margin-right: 0;
    }

    .sign {
        bottom: 1rem;
        width: 90%;
    }
}

@media screen and (min-width: 800px) {
    .logos {
        display: block;
        width: 90%;
        margin: auto;
    }

    .one_logo {
        height: 3.8125rem;
        display: inline-block;
        margin-right: 2px;
    }

    .one_logo:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 1000px) {
    .columns {
        width: 100%;
    }

    .logos {
        width: 100%;
        clear: both;
    }

    .one_logo {
        margin-right: 2.7rem;
    }

     .one_logo:first-child {
        margin-left: 1rem;
    }
}

/*
  ========================================
  Prices
  ========================================
*/

.prices {
    min-height: 150rem;
    background-color: #eaeaea;
}

.prices  .title {
    padding-top: 2%;
}

.basic_plan {
    width: 100%;
    margin: auto;
    height: 5rem;
    line-height: 5rem;
    background-color: #0cf;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 1.375rem;
    color: #fff;
    font-weight: bold;
}

.order .col-1-4 {
    display: block;
    width: 80%;
    margin: auto;
    min-height: 30rem;
    text-align: center;
    line-height: 2;
    margin-bottom: 2rem;
    border: 1px solid #333;
}

sup {
    font-size: 2.25rem;
    vertical-align: super;
}

.order .col-1-4 h5 {
    font-size: 3.75rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

sub {
    font-size: 1.5rem;
    font-weight: normal;
}

.order .col-1-4 p {
    font-size: 1rem;
    color: #333;
}

.order .col-1-4 .order_button {
    border: 1px solid #333;
    border-radius: 4px;
    width: 7.75rem;
    margin: auto;
    margin-top: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.order .col-1-4 .order_button a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    color: #333;
    font-weight: bold;
}

.order .col-1-4 .free_trial {
    font-size: 11px;
    color: #999;
    line-height: 3.636;
    text-transform: uppercase;
}

@media screen and (min-width: 400px) {

    .prices {
        min-height: 100rem;
    }

    .order {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: auto;
    }

    .order .col-1-4 {
        width: 45%;
        min-height: 34.375rem;
        text-align: center;
        line-height: 2.857;
    }

    .order .col-1-4 p {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 600px) {
    .prices {
        min-height: 110rem;
    }
}

@media screen and (min-width: 700px) {

    .prices {
        min-height: 75rem;
    }

    .basic_plan {
        width: 100%;
    }

    .order {
        display: block;
        width: 98%;
        margin: auto;
    }

    .order .col-1-4 {
        display: inline-block;
        margin-right: 1.25rem;
        width: 23%;
    }

    .order .col-1-4:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 1000px) {

    .prices {
        min-height: 87.9375rem;
    }

    .prices  .about_us_logo,
    .prices  .lines, .prices .title p {
        margin-bottom: 7.8125rem;
        padding-top: 12.8125rem;
    }

    .order {
        clear: both;
        width: 100%;
    }

    .basic_plan {
        width: 13.625rem;
    }

    .order .col-1-4 {
        width: 13.75rem;
        border: none;
    }
}

/*
  ========================================
  Quote
  ========================================
*/

.quote .author {
    padding-top: 4.57rem;
}

.quote .nav_circle {
    margin-top: 2.1875rem;
}

.quote i {
    padding-bottom: 4.6875rem;
}

/*
  ========================================
  Get in touch
  ========================================
*/

.get_in_touch {
    min-height: 94.6875rem;
}

form {
    margin-bottom: 4rem;
    width: 100%;
    min-height: 18.125rem;
}

form fieldset {
    width: 90%;
    margin: auto;
}

.message_group input,
.message_group textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.625rem;
    padding: 0.9375rem 1.125rem;
}

.message_group input {
    height: 3rem;
}

.message_group textarea {
    height: 9.875rem;
}

.send_btn {
    height: 3.125rem;
    width: 9.0625rem;
    color: #fff;
    background-color: #0cf;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #0cf;
    border-radius: 4px;
    margin-left: 5%;
}

.addit_info {
    width: 90%;
    text-align: left;
    margin: auto;
    margin-bottom: 4rem;
}

.addit_info h5,
.addit_info p {
    font-size: 1rem;
}

.addit_info h5 {
    color: #333;
    font-weight: bold;
    padding-bottom: 1.25rem;
    text-transform: uppercase;
}

.addit_info p {
    color: #666;
    padding-bottom: 2.5rem;
    line-height: 1.375;
}

.addit_info .contacts p {
    padding-bottom: 0;
}

.addit_info .contacts p i {
    font-size: 1.5rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.625rem;
}

#map {
    width: 100%;
    height: 34.375rem;
    margin-bottom: 0.3125rem;
}

@media screen and (min-width: 600px) {

    .message_group input,
    .message_group textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 0.625rem;
        padding: 0.9375rem 1.125rem;
    }

    .message_group input {
        width: 48.9%;
        height: 3rem;
        display: inline-block;
    }

    .message_group input:first-child {
        margin-right: 0.625rem;
    }

    .message_group .subject {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .get_in_touch {
        min-height: 80rem;
    }

    form {
        margin-bottom: 9.375rem;
        width: 34.375rem;
        min-height: 18.125rem;
        float: left;
        clear: left;
    }

    .message_group input,
    .message_group textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        margin-bottom: 0.625rem;
        padding: 0.9375rem 1.125rem;
    }

    .message_group input {
        width: 16.3125rem;
        height: 3rem;
        display: inline-block;
    }

    .message_group input:first-child {
        margin-right: 0.625rem;
    }

    .message_group .subject {
        width: 33.5rem;
        display: block;
    }

    .addit_info {
        float: left;
        width: 30%;
        text-align: left;
        margin-left: 1.5625rem;
    }

    .send_btn {
        margin-left: 1.5%;
    }
}

@media screen and (min-width: 1000px) {
    .get_in_touch .about_us_logo,
    .get_in_touch .lines,
    .get_in_touch .title div,
    .get_in_touch .title p {
        padding-top: 11.25rem;
        margin-bottom: 10.3125rem;
    }

    .addit_info {
        width: 21.25rem;
    }
}

/*
  ========================================
  Footer
  ========================================
*/

.footer {
    min-height: 11.1875rem;
}

.social_media {
    min-height: 7.4375rem;
    background-color: #2f2e2e;
    text-align: center;
    line-height: 7.4375rem;
}

.social_media a {
    text-decoration: none;
    font-size: 2.1875rem;
    color: #fff;
    padding-right: 1.5625rem;
}

.social_media a:last-child {
    padding-right: 0;
}

.social_media a:hover {
    color: #00ccff;
}

.rights {
    min-height: 3.75rem;
    background-color: #0cf;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    line-height: 3.75rem;
    text-align: center;
}

.rights a {
    text-decoration: none;
    color: #0f91b1;
}